<td style="width: 93%; border-spacing: 50px;">
  <nb-card accent="info">
    <nb-card-header>
      <div>
        <div class="titleText" style="float: left; width: 265px;">
          {{ search.title }}
        </div>
        <div style="float: right; color: #00d68f; width:30px">
          {{ search.score }}
        </div>
      </div>
    </nb-card-header>
    <nb-card-body>
      <a href="{{ search.url }}"
        ><img class="result-image" src="{{ search.image_url }}"
      /></a>
      <!-- img size is 225 x 318-->
    </nb-card-body>
    <nb-card-footer>
      <nb-toggle
        *ngIf="auth.users$ | async as user; else login"
        labelPosition="start"
        [(checked)]="checked"
        status="success"
        style="float:right"
        (checkedChange)="toggle()"
        >Fave</nb-toggle
      >
      <ng-template #login></ng-template>
      Type: {{ search.type }} <br />
      Episodes: {{ search.episodes }} <br />
      Rating: {{ search.rated }} <br />
      URL: <a href="{{ search.url }}">MyAnimeList (MAL)</a>
    </nb-card-footer>
  </nb-card>
</td>
