<h2>About Us</h2>
<p>
  Anii is built for the anime community allowing user's to create lists to keep
  track of their favourite animes. Explore the latest season and current airing
  of animes. Search for animes based on names, or using a variety of different
  filters such as score, genre and many more.
</p>
<h5>Developers</h5>
<table style="width: 80%;">
  <td>
    <nb-card>
      <nb-card-header>
        De Xing Teoh (s3719485)
      </nb-card-header>
      <nb-card-body>
        Second year Bachelor of Information Technology student at RMIT
        University
      </nb-card-body>
      <nb-card-footer>
        Email: s3719485@student.rmit.edu.au
      </nb-card-footer>
    </nb-card>
  </td>
  <td>
    <nb-card>
      <nb-card-header>
        Ronald Tang (s3725095)
      </nb-card-header>
      <nb-card-body>
        Second year Bachelor of Information Technology student at RMIT
        University
      </nb-card-body>
      <nb-card-footer>
        Email: s3725095@student.rmit.edu.au
      </nb-card-footer>
    </nb-card>
  </td>
</table>
<p>
  It has been developed as part of the second assignment for COSC2626/2640 Cloud
  Computing.
</p>
<p>
  This application is hosted on Firebase, and uitlises mostly Firebase and
  Google Cloud Platform services. Firebase Authentication, Cloud functions,
  BigQuery, Cloud Storage, and Cloud Firestore.
</p>
