<nb-card style="width: 50%;border: solid 1px #1a1f33; box-shadow: none;">
  <nb-card-header>
    Profile Edit
  </nb-card-header>
  <nb-card-body>
    <form>
      <p>Change Display Name</p>
      <input nbInput placeholder="e.g. John" (keyup)="onNameKeyUp($event)" />
      <p>Change Description</p>
      <input
        nbInput
        placeholder="e.g. Welcome to my profile"
        (keyup)="onDesKeyUp($event)"
      />
      <p>Upload Profile Image</p>
      <p>
        <button>Choose File</button>
        No file chosen
      </p>
      <button nbButton (click)="onSubmit()" type="reset">Submit</button>
    </form>
  </nb-card-body>
</nb-card>
