<nb-card style="width: 50%;border: solid 1px #1a1f33; box-shadow: none;">
  <nb-card-header>
    Profile Edit
    <button
      nbButton
      (click)="closeEdit()"
      size="small"
      status="danger"
      style="margin-left: 15px; float: right"
    >
      Close
    </button>
  </nb-card-header>
  <nb-card-body>
    <form>
      <div style="padding-bottom: 25px;">
        <p>Change Display Name</p>
        <input
          nbInput
          placeholder="e.g. John Smith"
          (keyup)="onNameKeyUp($event)"
        />
        <p>Change Description</p>
        <input
          nbInput
          placeholder="e.g. Welcome to my profile"
          (keyup)="onDesKeyUp($event)"
        />
        <p>Upload Profile Image</p>
        <p>
          <input type="file" (change)="startUpload($event)" />
        </p>
      </div>
      <button nbButton (click)="onSubmit()" status="success" type="reset">
        Save
      </button>
    </form>
  </nb-card-body>
</nb-card>
