<nb-layout-header fixed>
  <img routerLink="/" src="../assets/anii-wht.png" style="width: 120px;" />
  <nb-actions size="medium">
    <nb-action routerLink="/profile">Profile</nb-action>
    <nb-action routerLink="/">Browse</nb-action>
    <nb-action routerLink="/about">About</nb-action>
    <nb-action
      ><button nbButton outline status="info" size="small" routerLink="/">
        Login
      </button></nb-action
    >
  </nb-actions>
  <form>
    <input
      type="text"
      nbInput
      status="info"
      placeholder="Search e.g Kimetsu No Yaiba"
      fieldSize="small"
      shape="round"
    />
  </form>
</nb-layout-header>
