<nb-layout style="width: 100%;">
  <nb-layout-column style="width: 30%;">
    <!--Right Column-->
    <!--Graph/Chart 1#-->
    <div>
      <div>
        <div style="display: block">
          <p>Current Top #10 Anime</p>
          <app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
          <canvas
            *ngIf="show"
            baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
          >
          </canvas>
        </div>
      </div>
    </div>
    <!--Chrat 2#-->
    <div>
      <div>
        <div style="display: block">
          <p>Most Popular Comedy</p>
          <app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
          <canvas
            *ngIf="show"
            baseChart
            [datasets]="barChartDataTwo"
            [labels]="barChartLabelsTwo"
            [legend]="barChartLegendTwo"
            [chartType]="barChartTypeTwo"
          >
          </canvas>
        </div>
      </div>
    </div>
  </nb-layout-column>
  <nb-layout-column>
    <!--Left Column-->
    <!--Graph/Chart 1#-->
    <div>
      <div>
        <div style="display: block">
          <p>Most Popular Genres by Frequency</p>
          <app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
          <canvas
            *ngIf="show"
            baseChart
            [data]="pieChartData"
            [labels]="pieChartLabel"
            [legend]="pieChartLegend"
            [options]="pieChartOptions"
            [chartType]="pieChartType"
            [colors]="pieChartColors"
          >
          </canvas>
        </div>
      </div>
    </div>
    <!--Graph/Chart 2#-->
    <div>
      <div>
        <div style="display: block">
          <p>Most Popular Genres by Average Score</p>
          <app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
          <canvas
            *ngIf="show"
            baseChart
            [datasets]="barChartDataTwo"
            [labels]="barChartLabelsTwo"
            [legend]="barChartLegendTwo"
            [chartType]="barChartTypeTwo"
          >
          </canvas>
        </div>
      </div>
    </div>
  </nb-layout-column>
  <nb-layout-footer>
    These statistics are based on our own table containing only 1000 different
    animes. Thus, it may not be an acccurate representation of the real world.
  </nb-layout-footer>
</nb-layout>
