<nb-layout style="width: 100%;">
  <nb-layout-column style="width: 30%;">

      <!--Right Column-->
      <!--Graph/Chart 1#-->
            <div style="padding-bottom: 15%;">
                <div>
                  <div style="display: block">
                    <p>Current Top #10 Anime</p>
                    <canvas baseChart
                      [datasets]="barChartData"
                      [labels]="barChartLabels"
                      [options]="barChartOptions"
                      [legend]="barChartLegend"
                      [chartType]="barChartType">
                    </canvas>
                  </div>
                </div>
              </div>
        <!--Graph/Chart 2#-->
            <div style="padding-bottom: 15%;">
                <div>
                  <div style="display: block">
                        <p>Radar Chart</p>
                  </div>
                </div>
              </div>
        <!--Graph/Chart 3#-->

    <!--Right Column-->
    <!--Graph/Chart 1#-->
    <div style="padding-bottom: 15%;">
      <div>
        <div style="display: block">
          <p>Bar Chart</p>
          <canvas
            baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
          >
          </canvas>
        </div>
      </div>
    </div>
    <!--Graph/Chart 2#-->
    <div style="padding-bottom: 15%;">
      <div>
        <div style="display: block">
          <p>Radar Chart</p>
          <canvas
            baseChart
            [datasets]="radarChartData"
            [options]="radarChartOptions"
            [labels]="radarChartLabels"
            [chartType]="radarChartType"
          >
          </canvas>
        </div>
      </div>
    </div>
    <!--Graph/Chart 3#-->


    <!--Graph/Chart 4#-->
  </nb-layout-column>
  <nb-layout-column>
    <!--Left Column-->
    <!--Graph/Chart 1#-->
    <div>
      <div>
        <div style="display: block">
          <p>Most Popular Genres by Frequency</p>
          <canvas
            baseChart
            [data]="pieChartData"
            [labels]="pieChartLabel"
            [legend]="pieChartLegend"
            [chartType]="pieChartType"
            [colors]="pieChartColors"
          >
          </canvas>
        </div>
      </div>
    </div>
    <!--Graph/Chart 2#-->

    <!--Graph/Chart 3#-->

    <!--Graph/Chart 4#-->
  </nb-layout-column>
</nb-layout>
