<p>Browse Anime</p>
<form>
    <input
    type="text"
    nbInput
    status="info"
    placeholder="Search e.g Pokemon"
    fieldSize="small"
    shape="round"
  />
  <p>Filters</p>
  <nb-checkbox></nb-checkbox>
  <nb-select placeholder="Select Type">
    <nb-option value="">Any</nb-option>
    <nb-option value="0">TV</nb-option>
    <nb-option value="1">OVA</nb-option>
    <nb-option value="2">Movie</nb-option>
    <nb-option value="3">Special</nb-option>
    <nb-option value="4">Ona</nb-option>
    <nb-option value="5">Music</nb-option>
  </nb-select>
  <nb-select placeholder="Select Status">
    <nb-option value="">Any</nb-option>
    <nb-option value="0">Airing</nb-option>
    <nb-option value="1">Completed</nb-option>
    <nb-option value="2">To be aired</nb-option>
    <nb-option value="3">TBA</nb-option>
    <nb-option value="4">Upcoming</nb-option>
  </nb-select>
  <nb-select placeholder="Select Rating">
    <nb-option value="">Any</nb-option>
    <nb-option value="0">G</nb-option>
    <nb-option value="1">PG</nb-option>
    <nb-option value="2">PG-13</nb-option>
    <nb-option value="3">R</nb-option>
    <nb-option value="4">R+</nb-option>
    <nb-option value="5">Rx</nb-option>
  </nb-select>
  <button nbButton>Search</button>
</form>
