<td style="width: 100%; border-spacing: 50px;">
  <nb-card accent="info">
    <nb-card-header>
      <div>
        <div class="titleText" style="float: left; width: 265px;">
          {{ current.title }}
        </div>
      </div>
    </nb-card-header>
    <nb-card-body>
      <img class="result-image" src="{{ current.image_url }}" />
      <!-- img size is 225 x 318-->
    </nb-card-body>
    <nb-card-footer>
      <nb-toggle
        *ngIf="auth.users$ | async as user; else login"
        labelPosition="start"
        [(checked)]="checked"
        status="success"
        style="float:right"
        (checkedChange)="toggle()"
        >Fave</nb-toggle
      >
      <ng-template #login></ng-template>
      Type: {{ current.type }} <br />
      Episodes: {{ current.episodes }} <br />
      URL: <a href="{{ current.url }}">MyAnimeList (MAL)</a>
    </nb-card-footer>
  </nb-card>
</td>
