<nb-card>
  <div style="width: 100%;">
    <nb-tabset>
      <nb-tab tabTitle="Overview">
        <nb-card
          style="width: 50%; border: solid 1px #1a1f33; box-shadow: none;"
          *ngIf="auth.users$ | async as user"
        >
          <nb-card-header>
            <nb-user
              name="{{ user.displayName }}"
              picture="{{ user.photoURL }}"
              style="float: left;"
            ></nb-user>

            <button
              nbButton
              status="danger"
              (click)="isOn = false"
              size="small"
              style="float:right"
            >
              Edit
            </button>
          </nb-card-header>
          <nb-card-body>
            Email: {{ user.email }}
            <p>Description: {{ user?.description }}</p>
          </nb-card-body>
        </nb-card>
        <app-edit-profile *ngIf="!isOn"></app-edit-profile>
      </nb-tab>
      <nb-tab tabTitle="Favourites">
        <app-favourite-item></app-favourite-item>
      </nb-tab>
      <nb-tab tabTitle="Stats">
        <app-profile-stat></app-profile-stat>
      </nb-tab>
    </nb-tabset>
  </div>
</nb-card>
