    <nb-card>
                <div style="width: 100%;">
                    <nb-tabset>
                        <nb-tab tabTitle="Overview">
                            <nb-card style="width: 40%; border: solid 1px #1a1f33; box-shadow: none;">
                                <nb-card-body>
                                    Profile
                                    Description
                                    gogogogogo
                                </nb-card-body>
                            </nb-card>
                            <nb-card style="width: 40%; border: solid 1px #1a1f33; box-shadow: none;">
                                    <nb-card-body>
                                       My Shows
                                    </nb-card-body>
                                </nb-card>
                        </nb-tab>
                        <nb-tab tabTitle="Stats">
                            Stats
                            can place a router here to another page
                        </nb-tab>
                        <nb-tab tabTitle="Favourites">
                            Favourites
                            can place a router here to another page
                        </nb-tab>
                        <div style="float: right; padding-right: 10px;">   
                                <nb-user size="medium"
                                        name="Joseph Joestar"
                                        title="Stand User"
                                        [showTitle]="True">
                                </nb-user>
                                </div>
                    </nb-tabset>
                    </div>
        <nb-card-body>

        </nb-card-body>
    </nb-card>