<nb-card>
  <div style="width: 100%;">
    <nb-tabset>
      <nb-tab tabTitle="Overview">
        <nb-card
          style="width: 40%; border: solid 1px #1a1f33; box-shadow: none;"
          *ngIf="auth.users$ | async as user"
        >
          <nb-card-header>
            <nb-user
              name="{{ user.displayName }}"
              picture="{{ user.photoURL }}"
            ></nb-user>
          </nb-card-header>
          <nb-card-body>
            Email: {{ user.email }}
            <p>Description: {{ user?.description }}</p>
          </nb-card-body>
        </nb-card>
      </nb-tab>
      <nb-tab tabTitle="Stats">
        Stats can place a router here to another page
      </nb-tab>
      <nb-tab tabTitle="Favourites">
        <app-favourite-item></app-favourite-item>
      </nb-tab>
    </nb-tabset>
  </div>
</nb-card>
